---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v2/rates?base=USD&date=2026-08-16&quotes=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"874ddef014ee0b336ab1df50b5d06af0"
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2026-08-16","base":"USD","quote":"BRL","rate":5.1854}]'
  recorded_at: Sun, 16 Aug 2026 21:57:36 GMT
recorded_with: VCR 6.4.0
