---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v2/rates?base=USD&date=2026-08-17&quotes=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ea502295f1ff6c6d5cd60b3098e57874"
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2026-08-16","base":"USD","quote":"BRL","rate":5.1855}]'
  recorded_at: Mon, 17 Aug 2026 01:07:36 GMT
recorded_with: VCR 6.4.0
