---
http_interactions:
- request:
    method: get
    uri: https://api.frankfurter.dev/v1/2026-08-16?from=USD&to=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b385979152750471818cc5d071d4f6e7"
    body:
      encoding: ASCII-8BIT
      string: '{"amount":1.0,"base":"USD","date":"2026-08-14","rates":{"BRL":5.1762}}'
  recorded_at: Sun, 16 Aug 2026 19:49:03 GMT
recorded_with: VCR 6.4.0
